<style>
	html, body {width:100%, height: 100%;}
	.photo {position:relative; width: 1920px; margin:10px auto; padding:2px; color: #ffffcc; background-color: #204680; text-align: center;}
	.name {color:#ffff00;}
</style>